<%- include('header') -%>

<form method="post" action="/form">

  <label for="name">Flokkur:</label>
  <input type="text" id="name" name="name">
  <button type="submit">Búa til flokk</button>

</form>

<%- include('footer') -%>