<%- include('header') -%>
<ul>
  <li><a href="/form">Búa til spurningu</a></li>
</ul>

<ul>
  <% if (categories) { %>
    <% for (const category of categories) { %>
      <li><a href="/spurningar/<%= category.name %>"><%= category.name %></a></li>
    <% } %>
  <% } else { %>
    <li>No categories available</li>
  <% } %>
</ul>

<%- include('footer') -%>